* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}
figure {
  line-height: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}
